var filters = {
  toFix: function (value){
    console.log("===filters==", value)
    return value.toFixed(2) // 此处2为保留两位小数，保留几位小数，这里写几    
  },
  toAbs: function (value) {
    console.log("===filters==", value)
    return Math.abs(value)
  },
  typeOf: function (value) {
    console.log("===filters==", typeof(value),value)
    return typeof(value)
  },
}
module.exports = { toFix: filters.toFix, toAbs: filters.toAbs, typeOf: filters.typeOf }
module.exports.msg = "some msg";